<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >

</head>
<body>
<header>
        <div class="top-header"> 
       
            <a href="/"   class="logo">
           <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo" width="350">
        
            </a>
        <div class="buscador">
            <input class="buscar"  type="text" name="NombreCompleto" placeholder="buscar productos, marcas y mas...">
            <div class="lupa"><i class="fa fa-search"></i></div>
        </div>
        <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
    </div>
   
         
        



    <nav>
        <ul class="se" style="list-style: none;">
            <li>
                <a href="#"><i></i>Ofertas</a>
            </li>
            <li>
                <a href="#">Tiendas oficiales</a>
            </li>
            <li>
                <a href="#">Vender</a>
            </li>
            <li>
                <a href="#">Ayuda</a>
            </li>
        </ul>
    
        <ul class="usuario" >
            <li>
                <a href="register">Crea tu cuenta <i class="far fa-id-card icon"></i></a>
            </li>
            <li>
                <a href="login">Ingresa <i class="fas fa-sign-in-alt icon"></i></a>
            </li>
            <li>
                <a href="#">Mis compras <i class="fas fa-shopping-basket icon"></i></a>
            </li>
        </ul>

    </nav>
    
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>

    </header>
<body>

    
        <main id="login">
            <form class= "formulario"action="/" method="GET">
                
                <div><input class="text-field" type="text" name="usuari" placeholder="nombre de usuario"></div>
                <div><input class="text-field" type="password" name="contrasenia" placeholder="contraseña"></div>
                <a class="olvidado" href="#"><i></i>¿olvido su contraseña?</a>
                <div>

                <button class="boton botonenviar" type="submit">enviar</button>
                <button class="boton botoncancelar" type="reset">cancelar</button></div>
               
            </form>
     
        </main>    
